@use "@/styles/variables" as *;

@mixin toy-card {
    box-sizing: border-box;
    width: 100%;
    height: 180px;
    padding: 5px;
    border: 1px rgba(#ffffff, 0.08) solid;
    background-color: $color-bg-card;
    border-radius: 10px;

    a {
        color: $color-text-primary;
        text-decoration: none;
    }
}

main#toy-main .content-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    box-shadow: 0px -8px 10px rgba($color-black, 0.5);
    z-index: +1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-text-primary;
    background-color: $color-bg-panel;

    .toyer-error-root {
        width: min(1000px, 90%);
        margin: 10px 0;

        .toy-status-card {
            @include toy-card;
            padding: 10px;
            height: max-content;
            font-weight: bold;

            &.loading {
                background-color: $color-bg-info;
                color: $color-text-info;
            }
            &.error {
                background-color: $color-bg-error;
                color: $color-text-error;
            }
        }
    }
}