@use "../../../layout.scss" as layout;

.blogger-lister-root {
    width: 100%;
    min-height: 100vh;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    .blogs-list {
        width: min(1000px, 90%);
        height: max-content;
        margin: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .blog-status-card {
            @include layout.blog-card;
            height: max-content;
            font-weight: bold;

            &.loading {
                background-color: $color-bg-info;
                color: $color-text-info;
            }
            &.error {
                background-color: $color-bg-error;
                color: $color-text-error;
            }
        }

        .blog-content-card {
            @include layout.blog-card;
            height: fit-content;
            min-height: 180px;
            padding: 0;
            display: flex;
            flex-direction: row;

            .blog-card-text-wrapper {
                flex: 1;
                padding: 10px;
                display: flex;
                flex-direction: column;

                a {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: space-between;

                    .blog-title-wrapper {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        h2.blog-title {
                            display: inline;
                            font-size: 1.75rem;
                            line-height: 1.3;
                            margin: 3px 0px;
                            padding-left: 8px;
                            position: relative;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            cursor: pointer;
                            background: linear-gradient(to right, $color-bg-accent) right bottom / 0% 2px no-repeat;
                            transition: background-size 200ms ease-out, color 100ms linear;
            
                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 4%;
                                bottom: 4%;
                                width: 4px;
                                border-radius: 2px;
                                background-color: $color-bg-accent;
                            }
                        }
    
                        .blog-title-arrow {
                            width: 30px;
                            height: 30px;
                            color: $color-bg-accent;
                            opacity: 0;
                            translate: -20px;
                            transition: opacity 100ms ease-out, translate 100ms ease-out;
                        }
                    }
                    
                    p.blog-time {
                        text-align: end;
                        color: $color-text-dim;
                        font-style: italic;
                    }

                    &:hover {
                        .blog-title-wrapper {
                            h2.blog-title {
                                background-position: left bottom;
                                background-size: 100% 2px;
                                color: $color-text-accent;
                            }
                            
                            .blog-title-arrow {
                                opacity: 1;
                                translate: 0px;
                            }
                        }
                    }
                }
    
                .blog-detail-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-grow: 1;
    
                    p.blog-desc {
                        margin: 8px 0;
                        font-size: 1em;
        
                        span.blog-section {
                            display: inline-block;
                            margin: 0 10px 0 0;
                            border-radius: 10px;
                            padding: 2px 10px;
                            font-size: 0.8em;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }
    
                    .blog-tags-list {
                        span.blog-tag {
                            @include layout.blog-tag;
                        }
                    }
                }
            }

            a.blog-card-cover-image {
                width: min(200px, 30%);
                border-radius: 0px 15px 15px 0;
                background-color: transparent;
                background: linear-gradient(-30deg, cyan, lime) center / cover no-repeat;
                transition: opacity 100ms linear;
                cursor: pointer;
                
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    .blog-menu-wrapper {
        width: min(270px, 27%);
        margin: 0px 10px;

        p.menu-title {
            padding-left: 10px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 4%;
                bottom: 4%;
                width: 4px;
                border-radius: 2px;
                background-color: $color-bg-accent;
            }
        }

        .menu-profile-wrapper {
            @include layout.blog-card;
            padding: 15px;
            height: fit-content;

            p { text-align: center; }
            .menu-profile-photo {
                width: 100%;
                height: 200px;
                margin-bottom: 10px;
                background: url("../../../../../assets/huajisoup.png") center / cover no-repeat;
                border-radius: 15px
            }
        }

        .menu-sticky-cards {
            position: sticky;
            top: 75px;

            .menu-search-wrapper {
                width: 100%;
                height: 30px;
                z-index: +5;
                & form {
                    background-color: $color-bg-card;
                }
            }
    
            .menu-sections-wrapper {
                @include layout.blog-card;
                height: fit-content;
                hr { margin: 10px 0; }

                .menu-sections-list {
                    .menu-section-btn {
                        line-height: 2.2;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color 100ms linear, color 100ms linear, padding-left 100ms ease-out;
    
                        &:hover {
                            color: $color-text-bubble;
                            background-color: $color-bg-bubble;
                            padding-left: 5px;
                        }
                    }
                }
            }

            .menu-tags-wrapper {
                @include layout.blog-card;
                height: fit-content;
                hr { margin: 10px 0; }
                
                .menu-tags-list {
                    .menu-tag-btn {
                        @include layout.blog-tag;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .blogger-lister-root {
        flex-direction: column;
        align-items: center;
        justify-content: start;

        .blog-menu-wrapper {
            width: 50%;
            height: max-content;

            .menu-profile-wrapper, 
            .menu-tags-wrapper, 
            .menu-sections-wrapper {
                display: none;
            }
        }

        .blogs-list{
            .blog-content-card {
                height: fit-content;
                min-height: 280px;
                flex-direction: column-reverse;

                .blog-card-text-wrapper {
                    a {
                        align-items: start;
                        flex-direction: column;
                    }
                    .blog-tags-list {
                        margin-top: 10px;
                    }
                }
                a.blog-card-cover-image {
                    width: 100%;
                    height: 160px;
                    flex-shrink: 0;
                    border-radius: 20px 20px 0 0;
                }
            }
        }
    }
}