* {
    margin: 0;
}
body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}
canvas .bg {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("./assets/still_fireworks.png") center / cover no-repeat;
}