main .content-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    box-shadow: 0px -8px 10px rgba(#000000, 0.5);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}