@use "@/styles/variables" as *;

@mixin markdown {
    line-height: 1.5;

    h1, h2, h3 {
        line-height: 2;
    }

    a {
        color: $color-text-link;
        border-radius: 5px;
        transition: background-color 100ms linear;

        &:hover {
            background-color: $color-bg-bubble;
        }
    }

    hr {
        margin: 10px 0;
    }

    img {
        display: block;
        margin: 8px auto;
        max-width: 100%;
        max-height: 50vh;
        object-fit: scale-down;
        cursor: pointer;
    }
    .image-viewer {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(black, 0.2);

        img {
            max-height: 100vh;
            max-width: 100vw;
            object-fit: contain;
            cursor: pointer;
        }
    }

    code {
        background-color: $color-bg-panel;
        padding: 0 5px;
        border-radius: 5px;
        margin: 0 2px;
        font-family: 'Courier', monospace;
        font-weight: bold;
    }

    pre {
        box-sizing: border-box;
        width: 100%;
        margin: 5px 0;
        border-radius: 10px;
        padding: 0;
        counter-reset: code-line;

        .code-lang-tag {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            width: max-content;
            color: $color-text-bubble;
            background: $color-bg-bubble;
            margin: 10px;
            padding: 5px 10px;
            border-radius: 10px;
            transition: background-color 100ms linear;
            cursor: pointer;

            .code-lang-icon {
                display: inline-block;
                width: 1em;
                height: 1em;
                margin: 0 5px;
            }

            &:hover {
                background-color: $color-bg-bubble-overlay;
            }
        }
        code {
            display: inline-block;
            box-sizing: border-box;
            height: max-content;
            margin: 0;
            padding: 10px 20px;
            border-radius: 0;
            background-color: transparent;
            overflow: auto;

            > span {
                counter-increment: code-line;

                &::before {
                    content: counter(code-line);
                    color: $color-text-primary;
                    display: inline-block;
                    text-align: end;
                    min-width: 20px;
                    padding: 0 10px;
                }
            }
        }

    }

    table {
        margin: 5px 0;
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 10px;
        overflow: hidden;

        thead {
            color: $color-text-bubble;
            background-color: $color-bg-bubble-overlay;
            border-radius: 10px;
        }

        tbody tr {
            &:nth-child(odd) {
                // background-color: $color-bg-bubble;
            }
            &:nth-child(even) {
                background-color: $color-bg-bubble;
            }
        }
        td, th {
            padding: 5px 15px;
        }
    }

    blockquote {
        margin: 5px 0;
        padding: 15px;
        background-color: rgba($color-text-accent, 0.2);
        border-left: 5px $color-text-accent solid;
        color: $color-text-accent;
    }
}