@mixin markdown {
    line-height: 1.5;

    h1, h2, h3 {
        line-height: 2;
    }

    a {
        color: cyan;
        &:hover {
            text-decoration: none;
        }
    }

    hr {
        margin: 10px 0;
    }

    img {
        display: block;
        margin: 8px auto;
        max-width: 100%;
        max-height: 50vh;
        object-fit: scale-down;
        cursor: pointer;
    }
    .image-viewer {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(black, 0.2);

        img {
            max-height: 100vh;
            max-width: 100vw;
            object-fit: contain;
            cursor: pointer;
        }
    }

    code {
        background-color: #22252a;
        padding: 0 5px;
        border-radius: 5px;
        margin: 0 2px;
    }

    pre {
        box-sizing: border-box;
        width: 100%;
        line-height: 1.4;
        margin: 5px 0;
        color: #ccc;
        background-color: #282c34;
        border-radius: 5px;
        padding: 0;
        counter-reset: code-line;

        p.code-lang-tag {
            box-sizing: border-box;
            width: max-content;
            line-height: 1.15;
            width: 100%;
            padding: 10px 15px;
            color: aliceblue;
            background: black;
            border-radius: 5px 5px 0 0;
            cursor: pointer;

            &::before {
                content: "";
                display: inline-block;
                width: 1em;
                height: 1em;
                margin: 0 5px;
                background-color: #fa0;
                vertical-align: baseline;
                mask: url("../../assets/icon/code-tag.svg") center / cover no-repeat;
            }
        }
        code {
            display: inline-block;
            box-sizing: border-box;
            height: max-content;
            margin: 0;
            padding: 10px 20px;
            border-radius: 0;
            background-color: transparent;
            overflow: auto;

            > span {
                counter-increment: code-line;

                &::before {
                    content: counter(code-line);
                    color: #ffffff;
                    display: inline-block;
                    text-align: end;
                    min-width: 20px;
                    padding: 0 10px;
                }
            }
        }

    }

    table {
        margin: 5px 0;
        border-collapse: collapse;
        tbody tr:nth-child(odd) {
            background-color: rgba(#ffffff, 0.2);
        }
        td, th {
            padding: 5px;
        }
    }
    table, td, th {
        border: 1px aliceblue solid;
    }

    blockquote {
        margin: 5px 0;
        padding: 15px;
        background-color: rgba(#fa0, 0.2);
        border-left: 5px #fa0 solid;
        color: #fa0;
    }
}