main .page-title {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #87cefa;
    overflow: hidden;

    .huaji-sun {
        position: absolute;
        width: 570px;
        height: 570px;
        background:
            url("../../assets/huaji.png") center / 70% 70% no-repeat,
            radial-gradient(#ffcc66 49.5%, transparent 70.7%);
        right: -50px;
        top: 0;
    }

    .land {
        position: absolute;
        width: 100%;
        height: 350px;
        background-image: linear-gradient(to left, #549a26, #269a26);
        border-radius: 83% 100% 100% 100%;
        left: -170px;
        top: 205px;
    }

    .cloud {
        position: absolute;
        font-size: 5rem;
        animation: cloud-flow 15s linear infinite backwards;
    }

    @keyframes cloud-flow {
        0% {
            transform: translate(+100vw);
        }
        100% {
            transform: translate(-100vw);
        }
    }
}