main .page-title {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #87cefa;
    overflow: hidden;

    .huaji-sun {
        position: absolute;
        width: 570px;
        height: 570px;
        background:
            url("../../assets/huaji.png") center / 70% 70% no-repeat,
            radial-gradient(#ffcc66 30%, transparent 70.7%);
        right: -50px;
        top: 0;
    }

    .land {
        position: absolute;
        width: max(100%, 800px);
        height: 350px;
        background-image: linear-gradient(to left, #539a26, #269a26);
        border-radius: 83% 100% 100% 100%;
        left: -170px;
        top: 205px;
    }

    .plant {
        position: absolute;
        font-size: 2rem;
    }

    .tree {
        position: absolute;
        font-size: 10rem;
        transform-origin: 50% 100%;
        animation: tree-swing 5s ease-in-out infinite alternate;
    }

    .cloud {
        position: absolute;
        font-size: 5rem;
        animation: cloud-flow 15s linear infinite backwards;
    }

    .sky-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: transparent;
        opacity: 0.2;
        pointer-events: none;
    }

    @keyframes cloud-flow {
        0% {
            translate: 100vw;
        }
        100% {
            translate: -100vw;
        }
    }

    @keyframes tree-swing {
        0% {
            transform: skewX(5deg);
        }
        100% {
            transform: skewX(-5deg);
        }
    }
}