.blogger-root {
    width: 100%;
    padding: 30px 0;
    background-color: #22252a;
    display: flex;
    flex-direction: column;
    align-items: center;

    .blogs-list {
        width: min(1000px, 90%);
        display: flex;
        flex-direction: column;
        align-items: center;

        .blog-card {
            width: 95%;
            height: 180px;
            padding: 15px 20px;
            margin: 10px 0;
            color: aliceblue;
            box-sizing: border-box;
            background-color: #343841;
            border-radius: 20px;
            box-shadow: 0px 0px 8px black;
        }

        .blog-status-card {
            @extend .blog-card;
            height: max-content;
            min-height: 50px;
            font-weight: bold;

            &.error {
                background-color: #4b2f36;
                color: #eeb3d2;
            }
        }

        .blog-content-card {
            @extend .blog-card;
            padding: 0;
            display: flex;
            flex-direction: row;

            .blog-card-text-wrapper {
                flex: 1;
                padding: 10px;
                display: flex;
                flex-direction: column;

                .blog-title-wrapper {
                    display: flex;
                    flex-direction: row;
                    align-items: end;
                    justify-content: space-between;
    
                    h2.blog-title {
                        display: inline;
                        font-size: 1.75rem;
                        line-height: 1.3;
                        margin: 3px 0px;
                        padding-left: 8px;
                        position: relative;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: pointer;
                        background: linear-gradient(to right, #00ffff) right bottom / 0% 2px no-repeat;
                        transition: background-size 200ms ease-out;
        
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 4%;
                            bottom: 4%;
                            width: 4px;
                            border-radius: 2px;
                            background-color: #00ffff;
                        }
                        &:hover {
                            background-position: left bottom;
                            background-size: 100% 2px;
                        }
                    }
        
                    p.blog-time {
                        text-align: end;
                        color: gray;
                        font-style: italic;
                    }
                }
    
                .blog-detail-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-grow: 1;
    
                    p.blog-desc {
                        margin: 8px 0;
        
                        span.blog-section {
                            display: inline-block;
                            margin: 0 10px 0 0;
                            border-radius: 10px;
                            padding: 2px 10px;
                            font-size: 0.8em;
                            font-weight: bold;
                            cursor: pointer;
                        }
                    }
    
                    .blog-tags-list {
                        span.blog-tag {
                            display: inline-block;
                            margin: 0 3px;
                            padding: 6px 8px;
                            border-radius: 8px;
                            background-color: transparent;
                            font-size: 0.8em;
                            border: 1px gray solid;
                            cursor: pointer;
                            transition: background-color 100ms linear;
    
                            &:hover {
                                background-color: rgba($color: #ffffff, $alpha: 0.4);
                            }
                        }
                    }
                }
            }

            .blog-card-cover-image {
                width: min(200px, 30%);
                height: 100%;
                border-radius: 0px 20px 20px 0;
                background-color: transparent;
                background: linear-gradient(-30deg, cyan, lime) center / cover no-repeat;
                transition: opacity 100ms linear;
                cursor: pointer;
                
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .blogger-root {
        .blogs-list{
            .blog-content-card {
                height: fit-content;
                min-height: 280px;
                flex-direction: column-reverse;

                .blog-card-text-wrapper {
                    .blog-title-wrapper {
                        align-items: start;
                        flex-direction: column;
                    }
                    .blog-tags-list {
                        margin-top: 10px;
                    }
                }
                .blog-card-cover-image {
                    width: 100%;
                    height: 160px;
                    flex-shrink: 0;
                    border-radius: 20px 20px 0 0;
                }
            }
        }
    }
}