::selection {
    background-color: rgba(128, 128, 128, 0.60);
}

.background#backlogo {
    position: absolute;
    width: 130%;
    height: 100%;
    background: url("./assets/bg-huaji-universe.jpg") center / cover no-repeat;
    right: 12%;
}

.index-wrapper {
    width: 100vw;
}