::selection {
    background-color: rgba(128, 128, 128, 0.60);
}

.index-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    scroll-snap-type: y mandatory;

    & > * {
        scroll-snap-align: start;
    }
    .sections-wrapper {
        position: relative;
        z-index: 1;
    }
}