::selection {
    background-color: rgba(128, 128, 128, 0.60);
}

.background#backlogo {
    position: fixed;
    width: 130%;
    height: 100%;
    background: url("./assets/bg-huaji-universe.jpg") center / cover no-repeat;
    right: 12%;
    z-index: -1;
}

.index-wrapper {
    width: 100vw;
}

@media (max-width: 1000px) {
    .background#backlogo {
        width: 100%;
        background-position: center;
        right: 0;
        top: 10vh;
    }
}