.index-menu-wrapper {
    .cursor {
        position: absolute;
        left: 50vw;
        top: 50vh;
        transform: scale3d(1, 1, 1);
        transition: 
            left 200ms ease-out,
            top 200ms ease-out,
            transform 200ms cubic-bezier(0.15, 0.00, 0.25, 1.00);
        transform-origin: center center -2vw;
        transform-style: preserve-3d;
        pointer-events: none;

        animation: cursor-appear 0.3s 2.5s cubic-bezier(0.0, 0.5, 0.0, 1.0) backwards;
        
        .cube {
            transform-origin: center center -2vw;
            transform-style: preserve-3d;

            .surface {
                position: absolute;
                left: -2vw;
                top: -2vw;
                width: 4vw;
                height: 4vw;
                background-color: rgba(#ffffff, 0.1);
                border-image-source: radial-gradient(60% 60%, transparent 100%, cyan 100%);
                border-image-slice: 1;
                border-image-width: 2.4px;
                transform-origin: center center -2vw;
                backface-visibility: hidden;
    
                &.front {
                    transform: rotateX(0deg);
                }
                &.behind {
                    transform: rotateX(180deg);
                }
                &.top {
                    transform: rotateX(90deg);
                }
                &.bottom {
                    transform: rotateX(-90deg);
                }
                &.left {
                    transform: rotateY(-90deg);
                }
                &.right {
                    transform: rotateY(90deg);
                }
            }
        }

        &.active {
            transform: rotateY(45deg) rotateX(-30deg) scale3d(2, 2, 2);
            .cube {
                animation: cursor-rotate 10s linear infinite 0ms both;
                .surface {
                    border-image-width: 1.5px;
                }
            }
        }
    }

    @keyframes cursor-appear {
        0% {
            opacity: 0;
            scale: 3;
        }
        100% {
            opacity: 1;
            scale: 1;
        }
    }

    @keyframes cursor-rotate {
        0% {
            transform: rotateY(0deg);
        }
        100% {
            transform: rotateY(360deg);
        }
    }
}
