:root {
    font-size: min(16px, 4vw, 4vh);
}

* {
    margin: 0;
}

::selection {
    background-color: rgba($color-grey, 0.6);
}

button {
    appearance: none;
    outline: none;
    border: none;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 5px;
}

html {
    scroll-snap-type: y mandatory;
    
    body {
        width: 100vw;
        background-color: $color-bg-page;
        overflow: hidden auto;
        font-family: Arial, Helvetica, sans-serif;

        main#error-main {
            box-sizing: border-box;
            width: 100%;
            min-height: 100vh;
            height: max-content;
            padding: 10vh 20px;
            background-color: blue;
            color: $color-text-primary;
            font-size: 1.5rem;
        
            h1, h2, h3 {
                font-size: 3rem;
            }
        
            hr {
                height: 1px;
                margin: 10px 0px;
                background-color: $color-white;
            }
        }
    }
}

