form.search-bar {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    border-radius: 15px;
    border: 1px $color-white solid;
    cursor: pointer;

    transition: border-color 150ms;

    &:hover, &:focus {
        border-color: $color-text-accent;
    }

    &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        background: url("../../assets/menu/icon-search.svg") center / cover no-repeat;
    }

    input {
        border: none;
        outline: none;
        background: none;
        box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;

        flex-grow: 1;
        font-size: 1em;
        line-height: 2;
        color: $color-text-primary;

        &:focus::placeholder {
            color: transparent;
        }
    }
}