.blogger-list-skeleton-root {
    width: 100%;
    height: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    
    @include animate-skeleton-blink;

    .blogs-list-skeleton {
        width: min(1000px, 90%);

        .blog-card-skeleton {
            box-sizing: border-box;
            margin: 10px;
            border-radius: 10px;
            width: 100%;
            height: 180px;
            background-color: $color-bg-overlay;
        }
    }

    .blogs-menu-skeleton {
        box-sizing: border-box;
        margin: 10px;
        border-radius: 10px;
        width: min(270px, 27%);
        height: 560px;
        background-color: $color-bg-overlay;

    }
}