header {
    .header-wrapper {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 60px;
        z-index: +5;
        background-color: rgba($color: #505050, $alpha: 0.6);
    
        display: flex;
        flex-direction: row;
        align-items: center;
    
        .logo-toggle {
            width: 128px;
            height: 43.5px;
            margin: 0 5px;
            position: relative;
            cursor: pointer;
    
            &::after {
                content: "";
                position: absolute;
                right: -30px;
                margin: 11.75px 0;
                width: 0;
                height: 0;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent transparent #ffffff;
                transform: rotateZ(0deg);
                transition: right 200ms ease-out, transform 200ms ease-out;
            }
            &:hover::after {
                right: -40px;
            }
        }
    }

    .navi-menu {
        position: fixed;
        left: 0;
        top: 0;
        z-index: +5;
        height: 100vh;
        overflow: hidden auto;
        background-color: rgba($color: #232727, $alpha: 0.9);
        backdrop-filter: blur(5px);

        transition: width 300ms cubic-bezier(.22, .61, .36, 1);

        &.open {
            width: 200px;
        }
        &.closed {
            width: 0px;
        }

        .navi-menu-wrapper {
            width: 200px;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            color: aliceblue;
            font-size: 1rem;

            .navi-menu-exit {
                width: max-content;
                height: max-content;
                padding: 8px 12px;
                border-radius: 5px;
                transition: background-color 100ms linear;
                text-align: center;
                font-family: sans-serif;
                cursor: pointer;

                &:hover {
                    background-color: rgba($color: #505050, $alpha: 0.8);
                }
            }
        }
    }
}