header {
    .header-wrapper {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 60px;
        z-index: +5;
        background-color: rgba($color: #505050, $alpha: 0.6);
        backdrop-filter: blur(5px);
    
        display: flex;
        flex-direction: row;
        align-items: center;
    
        .logo-toggle {
            width: 128px;
            height: 43.5px;
            margin: 0 5px;
            background: url("../../assets/logo_text_header.png") center / cover no-repeat;
            position: relative;
            cursor: pointer;
    
            &::after {
                content: "";
                position: absolute;
                right: -30px;
                margin: 11.75px 0;
                width: 0;
                height: 0;
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent transparent #ffffff;
                transform: rotateZ(0deg);
                transition: right 200ms ease-out, transform 200ms ease-out;
            }
            &:hover::after {
                right: -40px;
            }
        }
    }

    .navi-menu {
        &.open   .navi-menu-sidebar {width: 200px;}
        &.closed .navi-menu-sidebar {width: 0px;}
        .navi-menu-sidebar {
            position: fixed;
            left: 0;
            top: 0;
            z-index: +5;
            height: 100vh;
            overflow: hidden auto;
            background-color: rgba($color: #232727, $alpha: 0.9);
            box-shadow: 8px 0px 10px #1b1b1b;
            backdrop-filter: blur(5px);
    
            transition: width 300ms cubic-bezier(.22, .61, .36, 1);
    
            a:link, a:visited, a:hover, a:active {
                text-decoration: none;
            }
    
            .navi-menu-sidebar-wrapper {
                width: 200px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                color: aliceblue;
                font-size: 1rem;
    
                .navi-menu-sidebar-exit {
                    width: max-content;
                    height: max-content;
                    margin: 10px;
                    padding: 8px 12px;
                    border-radius: 5px;
                    transition: background-color 100ms ease-out;
                    text-align: center;
                    font-family: sans-serif;
                    cursor: pointer;
    
                    &:hover {
                        background-color: rgba($color: #505050, $alpha: 0.6);
                    }
                }
    
                .huajireka-wrapper {
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
    
                    .huajireka-photo {
                        width: 50px;
                        height: 50px;
                        margin: 7px;
                        border: 2px aliceblue solid;
                        border-radius: 100%;
                        background: url("../../assets/huajisoup.png") center / cover no-repeat;
                        flex-shrink: 0;
                    }
                }
    
                .portals-wrapper {
                    .portal {
                        width: 100%;
                        height: 55px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        transition: background-color 100ms ease-out;
                        animation: portal-appear 350ms cubic-bezier(.22,.61,.36,1) 100ms backwards;
    
                        img.portal-icon {
                            width: 25px;
                            height: 25px;
                            margin: 10px;
                        }
                        p b {
                            font-size: 1.2rem;
                            color: aliceblue;
                        }
    
                        &:hover {
                            background-color: rgba($color: #505050, $alpha: 0.6);
                        }
                    }
    
                    @keyframes portal-appear {
                        0% {
                            translate: -30%;
                            opacity: 0;
                        }
                        100% {
                            translate: 0;
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &.open   .navi-menu-backdrop {display: block;}
        &.closed .navi-menu-backdrop {display: none;}
        .navi-menu-backdrop {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: +4;
            background-color: rgba(#000, 0.2);
        }
    }

}