* {
    margin: 0;
}
body {
    overflow: hidden;
    background-color: #202020;
    background: url("../assets/bg/witness-bg-1.jpg") center / cover no-repeat fixed;
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
a {
    color: aqua;
}
hr {
    margin: 10px 0;
}

.box {
    height: 100%;
}
.box#panel-box {
    display: flex;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 70%;
    flex-shrink: 0;
    overflow-y: auto;
    background-image: linear-gradient(to bottom, rgba(24, 38, 49, 0.8) 20%, rgba(24, 38, 49, 0.3), rgb(24, 38, 49, 0.8) 80%);
}
#panel-box p {
    padding: 0.1em;
}
#panel-box input[type="button"] {
    font-size: 1em;
    margin: 0.4em;
}
.canvas-layers {
    position: relative;
    width: min(600px, 85vmin);
    height: min(600px, 85vmin);
    border: 10px solid #ddd;
    cursor: pointer;
    flex-shrink: 0;
}
.canvas-layers > * {
    position: absolute;
    width: 100%;
    height: 100%;
}
.canvas-layers .layer-bg {
    box-sizing: border-box;
    border-style: solid;
}
.canvas-layers .canvas-cover {
    background-image: radial-gradient(circle at center, transparent 70%, #000 200%);
}
.box#settings-box {
    flex-basis: 30%;
    min-width: 30vw;
    background-color: #444;
    color: aliceblue;
    font-family: sans-serif;
    overflow-y: auto;
}
.wrapper#settings-wr {
    padding: 80px 20px;
}
#settings-wr h1 {
    font-family: serif;
}
#settings-wr p, #settings-wr b {
    font-size: 1.1em;
}
#settings-box input[type="number"] {
    font-size: 1em;
    margin: 0.4em;
    width: 3em;
}
#settings-box input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
#settings-wr .pzl-options {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
}
.pzl-options p {
    margin: 5px;
    width: max-content;
}
.pzl-options img {
    width: 50px;
    height: 50px;
}
.pzl-options p:nth-of-type(5) img {
    transform: rotateZ(-20deg);
}

textarea.puzzle-coder {
    width: 100%;
    height: 15vh;
    resize: none;
    color: #FFF;
    background-color: #222;
}
p#error-shower {
    color: #F00;
}

@media (max-width: 810px) {
    body {
        overflow: unset;
    }
    main {
        flex-direction: column-reverse;
        height: unset;
    }
    .box#panel-box {
        flex: unset;
        flex-basis: 100vh;
        background-image: linear-gradient(to bottom, rgba(24, 38, 49, 0.7) 20%, rgba(24, 38, 49, 0.2), rgb(24, 38, 49, 0.7) 80%);
    }
    #panel-box .canvas-layers {
        border-width: 6px;
    }
}