.blog-article-wrapper {
    width: min(1000px, 90%);
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .blog-article-card {
        box-sizing: border-box;
        width: 100%;
        height: fit-content;
        padding: 20px;
        border-radius: 10px;
        background-color: #343841;
        color: aliceblue;
        box-shadow: 0px 0px 8px black;
    
        .blog-article-header {
            h2.blog-article-title {
                margin: 15px 0;
                font-size: 3em;
                font-weight: 700;
                text-align: center;
            }
            p.blog-article-desc {
                margin: 10px 0;
                font-size: 1.5em;
                text-align: center;
            }
            p.blog-article-time {
                color: gray;
                font-size: 1em;
                font-style: italic;
            }
        }
        hr {
            margin: 10px 0;
        }
        .blog-article-body {
            line-height: 1.5;
    
            img {
                margin: 8px 0;
                transition: height 200ms ease-in-out;
            }
        }
    }
}