@mixin blog-card {
    width: 100%;
    height: 180px;
    padding: 15px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #343841;
    border-radius: 15px;
    box-shadow: 0px 2px 6px #1b1b1b;

    a {
        color: aliceblue;
        text-decoration: none;
    }
}

main#blog-main .content-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    box-shadow: 0px -8px 10px rgba(#000000, 0.5);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
    background-color: #22252a;

    .blogger-error-root {
        width: min(1000px, 90%);
        margin: 10px 0;

        .blog-status-card {
            @include blog-card;
            height: max-content;
            font-weight: bold;

            &.loading {
                background-color: #93cbff;
                color: #005ba1;
            }
            &.error {
                background-color: #4b2f36;
                color: #eeb3d2;
            }
        }
    }
}