@use "@/styles/variables" as *;

@mixin blog-card {
    box-sizing: border-box;
    width: 100%;
    height: 180px;
    padding: 15px 20px;
    margin: 10px 0;
    border: 1px rgba(#ffffff, 0.08) solid;
    background-color: $color-bg-card;
    border-radius: 15px;

    a {
        color: $color-text-primary;
        text-decoration: none;
    }
}

@mixin blog-tag {
    display: inline-block;
    margin: 5px 3px;
    padding: 6px 8px;
    border-radius: 8px;
    background-color: transparent;
    font-size: 0.8em;
    // border: 1px $color-text-dim solid;
    color: $color-text-bubble;
    background-color: $color-bg-bubble;
    cursor: pointer;
    transition: background-color 75ms linear;

    &:hover {
        background-color: $color-bg-bubble-overlay;
    }
}

main#blog-main .content-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    box-shadow: 0px -8px 10px rgba($color-black, 0.5);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-text-primary;
    background-color: $color-bg-panel;

    .blogger-error-root {
        width: min(1000px, 90%);
        margin: 10px 0;

        .blog-status-card {
            @include blog-card;
            height: max-content;
            font-weight: bold;

            &.loading {
                background-color: $color-bg-info;
                color: $color-text-info;
            }
            &.error {
                background-color: $color-bg-error;
                color: $color-text-error;
            }
        }
    }
}