@use "@/styles/variables" as *;

@mixin blog-card {
    width: 100%;
    height: 180px;
    padding: 15px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: $color-bg-card;
    border-radius: 15px;
    box-shadow: 0px 2px 6px $color-bg-shadow;

    a {
        color: $color-text-primary;
        text-decoration: none;
    }
}

main#blog-main .content-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    box-shadow: 0px -8px 10px rgba($color-black, 0.5);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $color-text-primary;
    background-color: $color-bg-panel;

    .blogger-error-root {
        width: min(1000px, 90%);
        margin: 10px 0;

        .blog-status-card {
            @include blog-card;
            height: max-content;
            font-weight: bold;

            &.loading {
                background-color: $color-bg-info;
                color: $color-text-info;
            }
            &.error {
                background-color: $color-bg-error;
                color: $color-text-error;
            }
        }
    }
}