:root {
    font-size: min(16px, 4vw, 4vh);
}

* {
    margin: 0;
}

html {
    scroll-snap-type: y mandatory;
    
    body {
        width: 100vw;
        background-color: #0a0a0a;
        overflow: hidden auto;
        font-family: Arial, Helvetica, sans-serif;
    }
}
