* {
    margin: 0;
}

html {
    scroll-snap-type: y mandatory;
    
    body {
        width: 100vw;
        background-color: #000000;
        overflow: hidden auto;
        font-family: Arial, Helvetica, sans-serif;
    }
}
