.toyer-skeleton-root {
    box-sizing: border-box;
    width: min(1200px, 85%);
    margin: 10px auto;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 6px;
    @include animate-skeleton-blink;

    .toy-card-skeleton {
        height: 180px;
        border-radius: 10px;
        background-color: $color-bg-overlay;
    }
}