.toyer-skeleton-root {
    box-sizing: border-box;
    width: min(1200px, 85%);
    margin: 10px auto;
    padding: 15px;
    @include animate-skeleton-blink;

    .toy-card-skeleton {
        box-sizing: border-box;
        width: 100%;
        height: 180px;
        margin: 15px 0;
        border-radius: 8px;
        background-color: $color-bg-overlay;
    }
}