main .banner {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #87cefa;
    overflow: hidden;
    z-index: 0;

    .banner-scene {
        ::selection {
            background-color: transparent;
        }

        .huaji-sun {
            position: absolute;
            width: 570px;
            height: 570px;
            background:
                url("../../assets/huaji.png") center / 70% 70% no-repeat,
                radial-gradient(closest-side,#ffcc66 42%, transparent 100%);
            right: -50px;
            top: 0;
            transition: scale 2s ease-out;

            &:hover {
                scale: 1.5;
            }
        }
    
        .layer-land {
            .land-fore {
                position: absolute;
                width: max(100%, 800px);
                height: 350px;
                background-image: linear-gradient(to left, #539a26, #269a26);
                border-radius: 83% 100% 100% 100%;
                left: -170px;
                top: 205px;
            }
            .land-back {
                position: absolute;
                width: 60%;
                height: 220px;
                left: -240px;
                top: 155px;
                border-radius: 100%;
                background-color: #008000;
            }
        }
    
        .plant {
            position: absolute;
            font-size: 2rem;
        }
    
        .tree {
            position: absolute;
            font-size: 10rem;
            transform-origin: 50% 100%;
            animation: tree-swing 5s ease-in-out infinite alternate;
        }
    
        .cloud {
            position: absolute;
            font-size: 5rem;
            animation: cloud-flow 15s linear infinite backwards;
        }
    
        .sky-mask {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: transparent;
            opacity: 0.2;
            pointer-events: none;
        }
    }
    .banner-text {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        h1 {
            color: $color-text-primary;
            font-size: 5rem;
            font-family: serif;
            text-shadow: 5px 5px 20px $color-black;
            font-weight: 1000;
        }
    }

    @keyframes cloud-flow {
        0% {
            translate: 100vw;
        }
        100% {
            translate: -100vw;
        }
    }

    @keyframes tree-swing {
        0% {
            transform: skewX(5deg);
        }
        100% {
            transform: skewX(-5deg);
        }
    }
}

@media (max-width: 600px) {
    main .banner {
        .banner-scene {
            .layer-land {
                translate: 0 20px;
                .land-back {
                    top: 180px;
                    left: -120px;
                    height: 120px;
                }
            }
            .layer-tree {
                display: none;
            }
            .huaji-sun {
                position: absolute;
                right: calc((100vw - 570px) / 2);
            }
        }
    }
}