.section-wrapper {
    width: 100%;
    height: 100vh;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 15%;
    
    scroll-snap-align: start;
    
    section {
        color: aliceblue;

        h2 {
            text-shadow: black 0px 0px 10px;

            &.section-index {
                font-size: 2rem;
                font-family: monospace;
            }
            &.section-title {
                font-size: 5rem;
                font-weight: 800;
                font-family: sans-serif;
    
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 2px;
                    bottom: 2px;
                    left: -20px;
                    width: 12px;
                    background-color: aliceblue;
                }
            }
        }
        p {
            margin: 20px 0;
            max-width: 45%;
            font-size: 1.3rem;
            font-family: Arial, Helvetica, sans-serif;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                bottom: 50%;
                left: -8px;
                width: 3px;
                background: linear-gradient(to bottom, #00c0fa, #ffff00);
                transition: top 200ms ease-out, bottom 200ms ease-out;
            }
            &:hover::before {
                top: 0%;
                bottom: 0%;
            }
        }
    }
}