.section-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 100px 15%;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    
    scroll-snap-align: start;
    
    section {
        color: aliceblue;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2 {
            text-shadow: black 0px 0px 10px;

            &.section-index {
                font-size: 2em;
                font-family: monospace;
                position: relative;
            }
            &.section-title {
                font-size: 5em;
                font-weight: 800;
                font-family: sans-serif;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 2px;
                    bottom: 2px;
                    left: -20px;
                    width: 12px;
                    background-color: aliceblue;
                    box-shadow: black 0px 0px 10px;
                }
            }
        }
        p {
            margin: 15px 0;
            max-width: 60%;
            font-size: 1.3em;
            font-family: Arial, Helvetica, sans-serif;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                bottom: 50%;
                left: -8px;
                width: 3px;
                background: linear-gradient(to bottom, #00c0fa, #ffff00);
                transition: top 200ms ease-out, bottom 200ms ease-out;
            }
            &:hover::before {
                top: 0%;
                bottom: 0%;
            }
        }
    }
}

@media (max-width: 900px) {
    .section-wrapper {
        flex-direction: column;
        box-sizing: border-box;
        padding: 80px 10px;

        section {
            display: flex;
            flex-direction: column;
            align-items: center;

            .section-content-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90%;
                font-size: 0.8em;
            }

            h2.section-index {
                text-align: center;
            }
            p {
                width: unset;
                max-width: unset;
            }
        }
    }
}