.section-wrapper {
    width: 100%;
    height: 100vh;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10%;

    section {
        color: aliceblue;

        h2 {
            font-size: 5rem;
            font-weight: 400;
            font-family: sans-serif;
        }
        p {
            font-size: 2rem;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}