main#error-main {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    padding: 10vh 20px;
    background-color: blue;
    color: #ffffff;
    font-size: 1.5rem;

    h1, h2, h3 {
        font-size: 3rem;
    }

    hr {
        height: 1px;
        margin: 10px 0px;
        background-color: #ffffff;
    }
}